<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <connectionStrings>
        <!--<add name="Fac_elecEntity" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=facturacion_electronica" providerName="MySql.Data.MySqlClient" />-->
        <!--<add name="arigesEntity" connectionString="server=192.168.4.27;user id=root;password=aritel;persist security info=True;database=ariges1" providerName="MySql.Data.MySqlClient" />-->

        <add name="arigesEntity" connectionString="server=pcadmon;user id=root;password=aritel;persist security info=True;database=ariges1" providerName="MySql.Data.MySqlClient"/>
        <add name="contaEntity" connectionString="server=pcadmon;user id=root;password=aritel;persist security info=True;database=conta1" providerName="MySql.Data.MySqlClient"/>
        <!--Base de datos donde se encuentra la información recogida en la fase de firma que se utiliza para cargar la web-->
        <add name="FacturaEntity" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=facelec_ariadna" providerName="MySql.Data.MySqlClient"/>

    </connectionStrings>
    <appSettings>
        <!--Ruta del directorio donde se encuentran las facturas a firmar-->
        <add key="Source_Path" value="C:\"/>
        <!--Ruta donde se encuentra el certificado digital-->
        <add key="Certificado_path" value="C:\ElementosFirma\Ariadna\ariadna.pfx"/>
        <!--Contraseña del certificado digital-->
        <add key="Certificado_pass" value="aritel"/>
        <!--Lugar que aparece en la firma impresa en la factura-->
        <add key="Lugar" value="Valencia"/>
        <!--Logotipo que aparece en la firma impresa en la factura-->
        <add key="Logo_path" value="C:\ElementosFirma\Ariadna\ariadnaLogoMA.png"/>
        <!--Motivo que aparece en la firma impresa en la factura-->
        <add key="Motivo" value="Facturación electrónica"/>
        <!--Posición de la firma impresa en la factura-->
        <add key="Posicion_x0" value="370"/>
        <add key="Posicion_y0" value="10"/>
        <add key="Posicion_x_x" value="570"/>
        <add key="Posicion_y_y" value="50"/>
        <!--URL del servidor de estampado de tiempo-->
        <!--<add key="Tsa_url" value="http://tsa.starfieldtech.com/"/>
        -->
        <!--Usuario del servidor de estampado de tiempo-->
        <!--
        <add key="Tsa_user" value=""/>
        -->
        <!--Contraseña del servidor de estampado de tiempo-->
        <!--
        <add key="Tsa_pass" value=""/>-->

        <!--Datos FTP de la conexión con el servidor que almacena las facturas firmadas-->
        <add key="ftp_server" value="82.194.83.16"/>
        <add key="ftp_port" value="21"/>
        <add key="ftp_usr" value="silvia"/>
        <add key="ftp_pass" value="busturistic"/>
        <add key="ftp_dir" value="/Facturacion_electronica/Ariadna"/>
    </appSettings>
</configuration>