<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Fac_elecEntity" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=facturacion_electronica" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7CE17EEAF1D59342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2011.2.713.3" newVersion="2011.2.713.3"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7CE17EEAF1D59342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2011.2.713.3" newVersion="2011.2.713.3"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
