<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="FACE_testConnection" connectionString="data source=PC-W8\SQLEXPRESS;initial catalog=FACE_test;integrated security=True" providerName="System.Data.SqlClient" />-->
    <add name="FacturaEntity" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=facelec_ariadna" providerName="MySql.Data.MySqlClient" />
    <add name="Facelec_ariadnaConnection" connectionString="server=localhost;user id=root;password=aritel;database=facelec_ariadna" providerName="MySql.Data.MySqlClient" />
    <add name="FACE_testConnection" connectionString="data source=svrax.grupodominguis.local;user id=partehoras;password=partehoras" providerName="System.Data.SqlClient" />
    <add name="GdesContext" connectionString="data source=svrax.grupodominguis.local;user id=partehoras;password=partehoras" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7CE17EEAF1D59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2011.2.713.3" newVersion="2011.2.713.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7CE17EEAF1D59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2011.2.713.3" newVersion="2011.2.713.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>