<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <connectionStrings>
    <!--<add name="Fac_elecEntity" connectionString="server=15.236.23.119;user id=root;password=aritel;persist security info=True;database=facturacion_electronica" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="arigesEntity" connectionString="server=192.168.4.27;user id=root;password=aritel;persist security info=True;database=ariges1" providerName="MySql.Data.MySqlClient" />-->

    <add name="arigesEntity" connectionString="server=mysql01.ariadnasw.com;user id=root;password=aritel;persist security info=True;database=ariges1_equitec" providerName="MySql.Data.MySqlClient"/>
    <add name="arigasolEntity" connectionString="server=mysql01.ariadnasw.com;user id=root;password=aritel;persist security info=True;database=arigasol10" providerName="MySql.Data.MySqlClient"/>
    <add name="contaEntity" connectionString="server=mysql01.ariadnasw.com;user id=root;password=aritel;persist security info=True;database=ariconta1_equitec" providerName="MySql.Data.MySqlClient"/>
    <!--Base de datos donde se encuentra la información recogida en la fase de firma que se utiliza para cargar la web-->
    <add name="FacturaEntity" connectionString="server=mysql01.ariadnasw.com;user id=root;password=aritel;persist security info=True;database=facelec2_ariadna_equitec" providerName="MySql.Data.MySqlClient"/>
    <add name="Ariagro4Connection" connectionString="server=mysql01.ariadnasw.com;user id=root;password=aritel;persist security info=True;database=ariagro" providerName="MySql.Data.MySqlClient"/>
    <add name="arigesDos" connectionString="server=mysql01.ariadnasw.com;user id=root;password=aritel;persist security info=True;database=ariges1" providerName="MySql.Data.MySqlClient"/>
    <add name="AritaxiConnection" connectionString="server=192.168.1.155;user id=root;password=aritel;database=aritaxi3" providerName="MySql.Data.MySqlClient" />


  </connectionStrings>
  <appSettings>
    <!--Ruta del directorio donde se encuentran las facturas a firmar-->
    <add key="Source_Path" value="D:\FacturacionElectronica\Facturas"/>
    <!--Ruta donde se encuentra el certificado digital-->
    <add key="Certificado_path" value="D:\FacturacionElectronica\Certificados\ALZICOOP.pfx"/>
    <add key="F46024196_path" value="D:\FacturacionElectronica\Certificados\ALZICOOP.pfx"/>
    <add key="B98734098_path" value="D:\FacturacionElectronica\Certificados\MaternaServicios.pfx"/>
    <!--Contraseña del certificado digital-->
    <add key="Certificado_pass" value="46024196"/>
    <add key="F46024196_pass" value="46024196"/>
    <add key="B98734098_pass" value="k98734098"/>
    <!--Lugar que aparece en la firma impresa en la factura-->
    <add key="Lugar" value="Alzira"/>
    <!--Logotipo que aparece en la firma impresa en la factura-->
    <add key="Logo_path" value="D:\FacturacionElectronica\Certificados\Alzicoop.png"/>
    <add key="F46024196_Logo_path" value="D:\FacturacionElectronica\Certificados\Alzicoop.png"/>
    <add key="B98734098_Logo_path" value="D:\FacturacionElectronica\Certificados\Alzicoop.png"/>
    <!--Motivo que aparece en la firma impresa en la factura-->
    <add key="Motivo" value="Facturación electrónica"/>
    <!--Posición de la firma impresa en la factura-->
    <add key="Posicion_x0" value="370"/>
    <add key="Posicion_y0" value="10"/>
    <add key="Posicion_x_x" value="570"/>
    <add key="Posicion_y_y" value="50"/>
    <add key="Firmar" value="S"/>
    <add key="EnviarAlFtp" value="S"/>
    <add key="DosArigesDistintos" value="S"/>
    <!--Para que no abra todas las conexiones-->
    <add key="TieneAriagro" value="S"/>
    <add key="TieneArigasol" value="S"/>
    <add key="TieneTeleTaxi" value="N"/>
    <add key="TieneGdes" value="N"/>

    <!--URL del servidor de estampado de tiempo-->
    <!--<add key="Tsa_url" value="http://tsa.starfieldtech.com/"/>
        -->
    <!--Usuario del servidor de estampado de tiempo-->
    <!--
        <add key="Tsa_user" value=""/>
        -->
    <!--Contraseña del servidor de estampado de tiempo-->
    <!--
        <add key="Tsa_pass" value=""/>-->

    <!--Datos FTP de la conexión con el servidor que almacena las facturas firmadas-->
    <add key="ftp_server" value="15.236.23.119"/>
    <add key="ftp_port" value="21"/>
    <add key="ftp_usr" value="root"/>
    <add key="ftp_pass" value="aritel"/>
    <add key="ftp_dir" value="/FacturasElectronicas"/>

    <!--Datos requeridos para mandar el email de notificación-->
    <add key="mail_server" value="smtp.1and1.es"/>
    <add key="mail_port" value="25"/>
    <add key="mail_address" value="administracion@alzicoop.com"/>
    <add key="mail_to" value="mgarcia@alzicoop.com"/>
    <add key="mail_usr" value="administracion@alzicoop.com"/>
    <add key="mail_pass" value="Admon2013"/>
    <add key="mail_ssl" value="false"/>
    <add key="notificar" value="N"/>
  </appSettings>
</configuration>