<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ariagro4Connection" connectionString="server=192.168.1.10;user id=root;password=aritel;database=ariagro" providerName="MySql.Data.MySqlClient" />
    <add name="AriagroDirecto" connectionString="localhost;user id=root;password=aritel;database=ariagro" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>